
.icon-facebook:before { content: '\f052'; } /* '' */
.icon-github-circled-alt2:before { content: '\f056'; } /* '' */
.icon-gplus:before { content: '\f05a'; } /* '' */
.icon-instagram:before { content: '\f05d'; } /* '' */